
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 200px !important;
    height: 100vh;
    background-color: rgb(32, 32, 99);
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 30px 0px;
}

.main-logo img {
    width: 60px;
    border-radius: 50px;
}

.sidebar-content {
    flex-grow: 1;
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    padding: 12px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 6px;
}

.nav-menu li:hover,
.nav-menu .active-tab {
    background-color: rgb(104, 87, 255) ;
        text-decoration-line: none !important;

}
a:hover{
    text-decoration: none !important;
}

.user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 30px;
}

.user-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0 4px;
}

.user-logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

ul a{
    text-decoration: none;
    text-decoration-line: none;
    color: white;
    
}
